.centr_botton{
    text-align: center;
    width: 100%;
}

.centr_botton button{
    background: #f90;
    border-radius: 50px;
    width: 50%;
    padding: 10px;
    color: #fff;
    font-size: large;
    margin-top: 15px;
    
}

h2 {
    text-align: center;
}
