page-register {
  .tx_cntr {
      text-align: center;
  }
  .txt_change_width
  {
      font-size: 20px;
  }
  .reg_button_align
  {
      text-align: center;
  } 
  .reg_button_size
  {
    width: 50%;
  } 
}
