page-about-us {
        .item{
            background-color: white;
        }
        
   
}
.about_txt
{
    padding: 15px;
     text-align: justify;
}

.toolbar-background {
    background: #5bc0de;
}
.bar-button-default-ios {
    color: #ffffff;
}
.bar-button-ios {
    font-size: 15px;
}